@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


    /* This is the Default CSS */

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #f5fafa;
}
  
li{
    text-decoration: none;
    list-style: none;
}
     
a{   
    text-decoration: none;     
}

    /* This is the CSS for section-1 */

#sec-1{
   
    background-color: #ACC8E5;
    justify-content: space-between;
}
.container{
    max-width: 85vw;
    margin-inline: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly   ;
}
.NavBar{
    border-radius: 20px;
    background-color: #ffff;
    /* border: 1px solid red; */
    width: 90vw;
    color: #112A46;
    height : 15vh;    
    position: fixed;
    top: 0;
    z-index: 1;
    min-height: 100px;
}

.NavBar a{
    align-items: right;
    justify-content: right ;
    padding: 15px 35px;
    margin :8px 3px;
    /* border: 1px solid black; */
    border-radius: 15px;
    background-color: #20272dbc;
    color: whitesmoke;
}

.NavBar a:hover{
    transition: 1.2s;
    background-color: #023e8a;
}

#nameLogo{
    padding-left: auto;
    padding-right: 80px;
}

#LogoPic{
    height: 90px;
    width: 100px;
}
.ImgLogo{
    height: 25px;
}


    /* This is the CSS for Section-2 */

.Sec-2{

    /* border: 1px solid red; */
    margin-top: 108px;
    text-align: center;
    justify-content: center;
    height: 80vh;
    margin-top: 15vh;
    padding-top: 190px;
    background-image: url("./Assets/wallhaven-n6wy9q.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-origin: border-box;
}

.H1{
    background-color: transparent;  
    color:whitesmoke;
    text-align: center;
    justify-content: center;
    font-size: 50px;
}


.P{

    color:#ade8f4;
    background-color: transparent;
    font-weight: 300px ;
    text-align: center;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 45px;
}

#resumeBtn{
    margin-right: 5px;
    padding: 22px 70px;
    margin-top: 15px;
    font-size: 25px;
    color: whitesmoke;
    background-color:  #8ebebc;
    border: black;
    border-radius: 10px;
    cursor: pointer;
    transition: 1.2s;
}

#resumeBtn:hover{
    background-color:  #78b8b5;

}

#portfolioBtn{
    font-size: 25px;
    margin-left: 5px;
    margin-top: 15px;
    padding: 22px 100px;
    color: whitesmoke;
    background-color:  #8ebebc;
    border: black;
    border-radius: 10px;
    cursor: pointer;
    transition: 1.2s;
}

#portfolioBtn:hover{
    background-color:  #78b8b5;

}

    /* This is the CSS for Section-3 */

.Sec-3{
    margin-top: 85px;
    height: 600px;
}
.project{
    padding-top: 250px;
    padding: 00px 20px;
    margin: 0px 20px;
    text-align: center;
    justify-content: center;
    height: 350px;
    width: 350px;
    /* border: 1px solid black;  */
    box-shadow: 5px 5px 5px 5px black;
    min-width: 300px;
    max-width: 500px;
}

.h1Head{
    background-color: transparent;  
    text-align: center;
    justify-content: center;
    font-size: 50px;
}
.pHead{
    font-weight: 300px;
    text-align: center;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 25px;
}
.row1{
    margin-bottom: 50px;
    height: 40vh;
    border: 1px solid blue;
}
.one{
    min-width: 300px;
    cursor: pointer;    
    background-image: url(./Assets/wallhaven-49575d.jpg);
    background-size: cover;
    height: 250px;
    width: 350px;

}
.two{
    min-width: 300px;
    cursor: pointer;    
    background-image: url(./Assets/chatApp2.png);
    background-size: cover;
    height: 250px;
    width: 350px;

}
.three{
    min-width: 300px;
    cursor: pointer;    
    background-image: url(./Assets/51cugEuqFfL.png);
    background-size: cover;
    height: 250px;
    width: 350px;

}
.h1Head{

    margin: 100px 0px;
}

    /* This is the CSS for Sec-4 */

.sec-4{
    padding-top: 20px;
    height:550px;
    width: 100wv;
    color: black;
    background-color: #b3bebd;
    padding-bottom:90px;
}
.sec-4 .container{
    background-color: transparent;
}

.sec-4 p{
    background-color: transparent;
    font-size: 40px;
}

.Sec-4 h1{
    padding-top: 10px;
}

    /* This is the CSS for Sec-5 */

.sec-5{
    background-color: #e8edec;
    height: 1000px;
}

.sec-5 div, .sec-5 h1, .sec-5 p{
    background-color: transparent;
}
.sec-5 input{
    border: white;
}
.inpName{
    border: 1px solid grey;
    border-radius: 5px;
    height: 50px;
    width: 600px;
    font-size: 35px;
}
#inpMessage{
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 50px;
    width: 1000px;
    height: 500px;
}
.sec-6{
    height: 200px;
    background-color: #dce3e2;
}

.sec-6 div, .sec-6 p{
    background-color: transparent;
    text-align: center;
    justify-content: center;
}
.sec-6 p{
    padding-top: 100px;

} 